{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ site.title }}{% endblock %}

{% block container %}
<div id="header">
  <div id="post-nav">
  {%- if not default_home_page -%}
    <a href="{{ site.root }}/">Home</a>
    {%- if page.category -%}
      {%- for c in page.category.split("/") -%}
        {%- if loop.index == 1 -%}
          {%- set id = c -%}
        {%- else -%}
          {% set id = id ~ "-" ~ c -%}
        {%- endif -%}
    &nbsp;»&nbsp;<a href="{{ site.root }}/#{{ id }}">{{ c }}</a>
      {%- endfor -%}
    {%- endif -%}
    &nbsp;»&nbsp;{{ page.title }}
  {%- endif -%}
  </div>
</div>
<div class="clearfix"></div>
<div id="title">{{ page.title }}</div>
<div id="content">
  {{ page.content }}
</div>
<div id="content-footer">
  <p>如果你觉得这篇文章对你有帮助，不妨请我喝杯咖啡，鼓励我创造更多</p>
<table>
  <tr><td><img src="/static/images/My/WeChatPay.jpeg" style="width:200px;height:200px;"></td>
  <td><img src="/static/images/My/AliPay.jpeg" style="width:200px;height:200px;"></td></tr>
</table>


{%- if page.date -%}
created in <span class="create-date date"> {{ page.date }} </span>
{%- endif -%}
{%- if page.updated -%}
| updated in <span class="update-date date"> {{ page.updated }} </span>
{%- endif -%}
</div>
<div id="comments"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script type="text/javascript">
const gitment = new Gitment({
  id: location.pathname,
  title: '{{ page.title }}',
  owner: 'kitianFresh',
  repo: 'MetaHacksWiki',
  oauth: {
    client_id: '759b6fcf793dbef4e7a0',
    client_secret: '3c8fcf8b0a76c4acfc07b01a97e4f55f4c6ecbbd',
  },
  // ...
  // For more available options, check out the documentation below
})

gitment.render('comments')
// or
// gitment.render(document.getElementById('comments'))
// or
// document.body.appendChild(gitment.render())
</script>
{% endblock %}
